<?xml version="1.0"?>
<robot name="main_car" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ==================== 常量 ==================== -->
  <xacro:property name="PI" value="3.141592653"/>

  <!-- ==================== 子文件 ==================== -->
  <xacro:include filename="car_base.xacro"/>     <!-- 底盘 + 车轮 -->
  <xacro:include filename="car_camera.xacro"/>    <!-- 摄像头 -->
  <xacro:include filename="car_radar.xacro"/>     <!-- 激光雷达 -->
  <xacro:include filename="car_gazebo.xacro"/>    <!-- Gazebo 仿真插件 -->

</robot>
