<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="photo_radar" params="parent x y z radius height">
    <link name="laser_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <cylinder radius="${radius}" length="${height}"/>
        </geometry>
        <material name="mat_dark_grey"/>
      </visual>
      <visual>
        <origin xyz="${radius * 0.80} 0 0.005" rpy="0 ${pi / 2.0} 0"/>
        <geometry>
          <cylinder radius="0.022" length="0.012"/>
        </geometry>
        <material name="mat_black"/>
      </visual>
      <visual>
        <origin xyz="0 0 ${height / 2.0 + 0.004}" rpy="0 0 0"/>
        <geometry>
          <cylinder radius="${radius * 0.74}" length="0.008"/>
        </geometry>
        <material name="mat_grey"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <cylinder radius="${radius}" length="${height}"/>
        </geometry>
      </collision>
      <xacro:cylinder_inertial_z mass="0.32" radius="${radius}" length="${height}"/>
    </link>

    <joint name="laser_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="laser_link"/>
      <origin xyz="${x} ${y} ${z}" rpy="0 0 0"/>
    </joint>

    <link name="rear_lidar_cable_link">
      <visual>
        <origin xyz="-0.12 0 0" rpy="0 ${pi / 2.0} 0"/>
        <geometry>
          <cylinder radius="0.012" length="0.24"/>
        </geometry>
        <material name="mat_dark_grey"/>
      </visual>
      <collision>
        <origin xyz="-0.12 0 0" rpy="0 ${pi / 2.0} 0"/>
        <geometry>
          <cylinder radius="0.012" length="0.24"/>
        </geometry>
      </collision>
      <xacro:cylinder_inertial_z mass="0.03" radius="0.012" length="0.24"/>
    </link>

    <joint name="rear_lidar_cable_joint" type="fixed">
      <parent link="laser_link"/>
      <child link="rear_lidar_cable_link"/>
      <origin xyz="0 0 0.005" rpy="0 0 0"/>
    </joint>
  </xacro:macro>
</robot>
